{% extends 'xmlfeed/base.html' %}

{% block main %}
    <div class="w-100">
        <div class="text-center">
            <h1>Site Details</h1>
        </div>
        <table class="table">
            <thead>
                <th class="align-middle" scope="col">#</th>
                <th class="align-middle" scope="col">Site URL</th>
                <th class="align-middle" scope="col" />
            </thead>
            <tbody>
            {% for site_url in sites %}
                <tr>
                    <th class="align-middle" scope="col">1</th>
                    <th class="align-middle" scope="col">
                        <a href="#">{{ site_url }}</a>
                    </th>
                    <th class="align-middle" scope="col">
                        <button type="button" class="btn btn-primary">Start</button>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}